<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      p{
        color: orange;
      }
    </style>
    <link rel="stylesheet" href="home.css">
</head>
<body>
       <h1>hello i am <span style="color:red;">home</span> page</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, beatae?</p>
       <img src="../asset/img.jpg" alt="img" height="250px" width="250px"/>
</body>
</html>